In [0]:
import altair as alt
import numpy as np
import pandas as pd

In [0]:
from vega_datasets import data
df = data.countries()
df.head()
df2000 = df[df.year==2000]

In [5]:
df.tail()

    _comment    country  fertility  ...  p_fertility  p_life_expect  year
625      NaN  Venezuela     3.9570  ...       4.4685         67.456  1980
626      NaN  Venezuela     3.6485  ...       3.9570         68.557  1985
627      NaN  Venezuela     3.2500  ...       3.6485         70.190  1990
628      NaN  Venezuela     2.9415  ...       3.2500         71.150  1995
629      NaN  Venezuela     2.7230  ...       2.9415         72.146  2000

[5 rows x 9 columns]

In [7]:
df2000 = df[df.year==2000]
df2000.head()

   _comment      country  fertility  ...  p_fertility  p_life_expect  year
9       NaN  Afghanistan     7.4792  ...        8.000         41.763  2000
19      NaN    Argentina     2.3500  ...        2.630         73.275  2000
29      NaN        Aruba     2.1240  ...        2.208         73.011  2000
39      NaN    Australia     1.7560  ...        1.776         78.830  2000
49      NaN      Austria     1.3820  ...        1.388         77.510  2000

[5 rows x 9 columns]

In [8]:
alt.Chart(df2000).mark_point().encode(
    x='country:N',
    y='life_expect:Q'
)

Chart({
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      field: 'country',
      type: 'nominal'
    }),
    y: Y({
      field: 'life_expect',
      type: 'quantitative'
    })
  }),
  mark: 'point'
})

In [0]:
alt.Chart.configure_point_

In [0]:
alt.Chart(df2000).mark_point().encode(
    x='country:N',
    y='life_expect:Q'
).configure_point(
    size=100,
    color='red',
    filled=True
)

Chart({
  config: Config({
    point: MarkConfig({
      color: 'red',
      filled: True,
      size: 100
    })
  }),
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      field: 'country',
      type: 'nominal'
    }),
    y: Y({
      field: 'life_expect',
      type: 'quantitative'
    })
  }),
  mark: 'point'
})

In [0]:
alt.Chart(df2000).mark_point(color = 'blue', filled = False).encode(
    x='country:N',
    y='life_expect:Q'
).configure_point(
    size=100,
    color='red',
    filled=True
)

Chart({
  config: Config({
    point: MarkConfig({
      color: 'red',
      filled: True,
      size: 100
    })
  }),
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      field: 'country',
      type: 'nominal'
    }),
    y: Y({
      field: 'life_expect',
      type: 'quantitative'
    })
  }),
  mark: MarkDef({
    color: 'blue',
    filled: False,
    type: 'point'
  })
})

In [0]:
alt.Chart(df2000).mark_point(color = 'blue', filled = False).encode(
    x='country:N',
    y='life_expect:Q',
    color = alt.value('green')
).configure_point(
    size=100,
    color='red',
    filled=True
)

Chart({
  config: Config({
    point: MarkConfig({
      color: 'red',
      filled: True,
      size: 100
    })
  }),
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    color: ValueDefWithOptionalConditionMarkPropFieldDefstringnull({
      value: 'green'
    }),
    x: X({
      field: 'country',
      type: 'nominal'
    }),
    y: Y({
      field: 'life_expect',
      type: 'quantitative'
    })
  }),
  mark: MarkDef({
    color: 'blue',
    filled: False,
    type: 'point'
  })
})

In [0]:
alt.Chart(df2000).mark_point().encode(
  #  x='country:N',
  #  y='life_expect:Q',
    x = alt.X('country:N', title = 'Country'),
    y = alt.Y('life_expect', title = 'Life expectancy in year 2000')
).configure_point(
    size=100,
    color='red',
    filled=True
)

Chart({
  config: Config({
    point: MarkConfig({
      color: 'red',
      filled: True,
      size: 100
    })
  }),
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      field: 'country',
      title: 'Country',
      type: 'nominal'
    }),
    y: Y({
      field: 'life_expect',
      title: 'Life expectancy in year 2000',
      type: 'quantitative'
    })
  }),
  mark: 'point'
})

In [9]:
alt.Chart(df2000).mark_point().encode(
  #  x='country:N',
  #  y='life_expect:Q',
    x = alt.X('country:N', title = 'Country'),
    y = alt.Y('life_expect', title = 'Life expectancy in year 2000')
).configure_point(
    size=100,
    color='red',
    filled=True
).properties(
title = ' Country vs Life Expectancy of People Living there in 2000')

Chart({
  config: Config({
    point: MarkConfig({
      color: 'red',
      filled: True,
      size: 100
    })
  }),
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      field: 'country',
      title: 'Country',
      type: 'nominal'
    }),
    y: Y({
      field: 'life_expect',
      title: 'Life expectancy in year 2000',
      type: 'quantitative'
    })
  }),
  mark: 'point',
  title: ' Country vs Life Expectancy of People Living there in 2000'
})

In [14]:
alt.Chart(df2000).mark_bar().encode(
    x=alt.X('country', bin=False, axis=alt.Axis(labelAngle=90)),
    y=alt.Y('life_expect', axis=alt.Axis(labels=True, ticks=False, title='Life Expectancy in 2000'))
)

Chart({
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      axis: Axis({
        labelAngle: 90
      }),
      bin: False,
      field: 'country',
      type: 'nominal'
    }),
    y: Y({
      axis: Axis({
        labels: True,
        ticks: False,
        title: 'Life Expectancy in 2000'
      }),
      field: 'life_expect',
      type: 'quantitative'
    })
  }),
  mark: 'bar'
})

In [15]:
alt.Chart(df2000).mark_bar().encode(
    x=alt.X('country', bin=False, axis=alt.Axis(labelAngle=90)),
    y=alt.Y('life_expect', axis=alt.Axis(labels=True, ticks=False, title='Life Expectancy in 2000'))
).configure_axisY(
labelAngle = 45)

Chart({
  config: Config({
    axisY: AxisConfig({
      labelAngle: 45
    })
  }),
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      axis: Axis({
        labelAngle: 90
      }),
      bin: False,
      field: 'country',
      type: 'nominal'
    }),
    y: Y({
      axis: Axis({
        labels: True,
        ticks: False,
        title: 'Life Expectancy in 2000'
      }),
      field: 'life_expect',
      type: 'quantitative'
    })
  }),
  mark: 'bar'
})

In [26]:
alt.Chart(df2000).mark_bar().encode(
    x=alt.X('country', scale = alt.Scale(domain=['India','Pakistan','United States','Ireland'])),
    y=alt.Y('life_expect', scale=alt.Scale(domain=[20, 90])),
)

Chart({
  data:     _comment             country  fertility  ...  p_fertility  p_life_expect  year
  9        NaN         Afghanistan     7.4792  ...      8.00000         41.763  2000
  19       NaN           Argentina     2.3500  ...      2.63000         73.275  2000
  29       NaN               Aruba     2.1240  ...      2.20800         73.011  2000
  39       NaN           Australia     1.7560  ...      1.77600         78.830  2000
  49       NaN             Austria     1.3820  ...      1.38800         77.510  2000
  59       NaN             Bahamas     2.1111  ...      2.40000         68.472  2000
  69       NaN          Bangladesh     3.2240  ...      3.50430         59.412  2000
  79       NaN            Barbados     1.5000  ...      1.50000         74.912  2000
  89       NaN             Belgium     1.6380  ...      1.60400         77.530  2000
  99       NaN             Bolivia     3.9585  ...      4.32400         62.050  2000
  109      NaN              Brazil     2.3450  ...      2.45000         69.388  2000
  119      NaN              Canada     1.5220  ...      1.56400         78.610  2000
  129      NaN               Chile     2.0000  ...      2.21000         75.816  2000
  139      NaN               China     1.7000  ...      1.78100         70.426  2000
  149      NaN            Colombia     2.4705  ...      2.70000         70.313  2000
  159      NaN          Costa Rica     2.2815  ...      2.58350         77.260  2000
  169      NaN             Croatia     1.3480  ...      1.53700         73.680  2000
  179      NaN                Cuba     1.6300  ...      1.60950         76.151  2000
  189      NaN  Dominican Republic     2.9500  ...      3.05000         69.957  2000
  199      NaN             Ecuador     2.8175  ...      3.10000         72.312  2000
  209      NaN               Egypt     3.1740  ...      3.50000         67.217  2000
  219      NaN         El Salvador     2.8830  ...      3.17000         69.535  2000
  229      NaN             Finland     1.7540  ...      1.74300         77.130  2000
  239      NaN              France     1.8833  ...      1.76240         78.640  2000
  249      NaN             Georgia     1.4780  ...      1.58000         70.490  2000
  259      NaN             Germany     1.3460  ...      1.34000         77.340  2000
  269      NaN              Greece     1.2770  ...      1.29600         77.869  2000
  279      NaN             Grenada     2.4290  ...      2.81400         66.986  2000
  289      NaN               Haiti     4.0000  ...      4.61995         56.671  2000
  299      NaN           Hong Kong     0.9400  ...      1.08000         80.000  2000
  ..       ...                 ...        ...  ...          ...            ...   ...
  339      NaN                Iran     2.1240  ...      2.53400         68.042  2000
  349      NaN                Iraq     4.8580  ...      5.37000         58.811  2000
  359      NaN             Ireland     1.9690  ...      1.90000         76.122  2000
  369      NaN              Israel     2.9060  ...      2.94200         78.269  2000
  379      NaN               Italy     1.2860  ...      1.21300         78.820  2000
  389      NaN             Jamaica     2.6280  ...      2.67000         72.262  2000
  399      NaN               Japan     1.2910  ...      1.39000         80.690  2000
  409      NaN               Kenya     5.0000  ...      5.00000         54.407  2000
  419      NaN         South Korea     1.9173  ...      2.09380         67.727  2000
  429      NaN         North Korea     1.2420  ...      1.51400         74.647  2000
  439      NaN             Lebanon     2.3190  ...      2.69500         70.265  2000
  449      NaN              Mexico     2.4005  ...      2.67050         73.670  2000
  459      NaN         Netherlands     1.7260  ...      1.60000         78.030  2000
  469      NaN         New Zealand     1.9640  ...      1.95200         77.550  2000
  479      NaN             Nigeria     5.8450  ...      6.24600         47.464  2000
  489      NaN              Norway     1.8010  ...      1.85300         78.320  2000
  499      NaN            Pakistan     3.9936  ...      4.95960         61.818  2000
  509      NaN                Peru     2.7005  ...      3.09950         68.386  2000
  519      NaN         Philippines     3.5436  ...      3.72480         68.564  2000
  529      NaN              Poland     1.2510  ...      1.47800         72.750  2000
  539      NaN            Portugal     1.4540  ...      1.47500         75.970  2000
  549      NaN              Rwanda     6.0100  ...      6.09930         36.087  2000
  559      NaN        Saudi Arabia     3.8100  ...      4.62100         70.533  2000
  569      NaN        South Africa     2.8020  ...      2.95400         60.236  2000
  579      NaN               Spain     1.2870  ...      1.18200         78.770  2000
  589      NaN         Switzerland     1.4150  ...      1.47000         79.370  2000
  599      NaN              Turkey     2.2300  ...      2.57400         68.835  2000
  609      NaN      United Kingdom     1.6950  ...      1.70000         77.218  2000
  619      NaN       United States     2.0380  ...      1.99400         76.810  2000
  629      NaN           Venezuela     2.7230  ...      2.94150         72.146  2000

  [63 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      field: 'country',
      scale: Scale({
        domain: ['India', 'Pakistan', 'United States', 'Ireland']
      }),
      type: 'nominal'
    }),
    y: Y({
      field: 'life_expect',
      scale: Scale({
        domain: [20, 90]
      }),
      type: 'quantitative'
    })
  }),
  mark: 'bar'
})

In [28]:
alt.Chart(df).mark_point().encode(
    x='country:N',
    y='life_expect:Q',
    color = 'year:N'
)

Chart({
  data:                            _comment         country  ...  p_life_expect  year
  0    Data courtesy of Gapminder.org     Afghanistan  ...            NaN  1955
  1                               NaN     Afghanistan  ...         30.332  1960
  2                               NaN     Afghanistan  ...         31.997  1965
  3                               NaN     Afghanistan  ...         34.020  1970
  4                               NaN     Afghanistan  ...         36.088  1975
  5                               NaN     Afghanistan  ...         38.438  1980
  6                               NaN     Afghanistan  ...         39.854  1985
  7                               NaN     Afghanistan  ...         40.822  1990
  8                               NaN     Afghanistan  ...         41.674  1995
  9                               NaN     Afghanistan  ...         41.763  2000
  10                              NaN       Argentina  ...            NaN  1955
  11                              NaN       Argentina  ...         64.399  1960
  12                              NaN       Argentina  ...         65.142  1965
  13                              NaN       Argentina  ...         65.634  1970
  14                              NaN       Argentina  ...         67.065  1975
  15                              NaN       Argentina  ...         68.481  1980
  16                              NaN       Argentina  ...         69.942  1985
  17                              NaN       Argentina  ...         70.774  1990
  18                              NaN       Argentina  ...         71.868  1995
  19                              NaN       Argentina  ...         73.275  2000
  20                              NaN           Aruba  ...            NaN  1955
  21                              NaN           Aruba  ...         64.381  1960
  22                              NaN           Aruba  ...         66.606  1965
  23                              NaN           Aruba  ...         68.336  1970
  24                              NaN           Aruba  ...         70.941  1975
  25                              NaN           Aruba  ...         71.830  1980
  26                              NaN           Aruba  ...         74.116  1985
  27                              NaN           Aruba  ...         74.494  1990
  28                              NaN           Aruba  ...         74.108  1995
  29                              NaN           Aruba  ...         73.011  2000
  ..                              ...             ...  ...            ...   ...
  600                             NaN  United Kingdom  ...            NaN  1955
  601                             NaN  United Kingdom  ...         70.420  1960
  602                             NaN  United Kingdom  ...         70.760  1965
  603                             NaN  United Kingdom  ...         71.360  1970
  604                             NaN  United Kingdom  ...         72.010  1975
  605                             NaN  United Kingdom  ...         72.760  1980
  606                             NaN  United Kingdom  ...         74.040  1985
  607                             NaN  United Kingdom  ...         75.007  1990
  608                             NaN  United Kingdom  ...         76.420  1995
  609                             NaN  United Kingdom  ...         77.218  2000
  610                             NaN   United States  ...            NaN  1955
  611                             NaN   United States  ...         69.490  1960
  612                             NaN   United States  ...         70.210  1965
  613                             NaN   United States  ...         70.760  1970
  614                             NaN   United States  ...         71.340  1975
  615                             NaN   United States  ...         73.380  1980
  616                             NaN   United States  ...         74.650  1985
  617                             NaN   United States  ...         75.020  1990
  618                             NaN   United States  ...         76.090  1995
  619                             NaN   United States  ...         76.810  2000
  620                             NaN       Venezuela  ...            NaN  1955
  621                             NaN       Venezuela  ...         57.907  1960
  622                             NaN       Venezuela  ...         60.770  1965
  623                             NaN       Venezuela  ...         63.479  1970
  624                             NaN       Venezuela  ...         65.712  1975
  625                             NaN       Venezuela  ...         67.456  1980
  626                             NaN       Venezuela  ...         68.557  1985
  627                             NaN       Venezuela  ...         70.190  1990
  628                             NaN       Venezuela  ...         71.150  1995
  629                             NaN       Venezuela  ...         72.146  2000

  [630 rows x 9 columns],
  encoding: FacetedEncoding({
    color: Color({
      field: 'year',
      type: 'nominal'
    }),
    x: X({
      field: 'country',
      type: 'nominal'
    }),
    y: Y({
      field: 'life_expect',
      type: 'quantitative'
    })
  }),
  mark: 'point'
})